@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  /* padding-right: 250px; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: #000;
  background: #fff;
}

nav {
  position: relative;
  background: #1b1b1b;
  width: 100%;
  top: 0px;
  display: flex;
  gap: 300px;
}

nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.menu  a {
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  width: auto;

}

.logo{
    position: relative;
    right: 75%;
}

.items{
    position: relative;
    left: 70%;
    width: 100%;
    align-items: center;
    gap: 130px;
}

.menu ul {
  display: inline-flex;
}

.menu ul li {
  list-style: none;
  margin-left: 7px;
}

.menu ul li:first-child {
  margin-left: 0px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu ul li a:hover {
  background: #fff;
  color: black;
}

.imgbg-ah {
  background-image: url("https://images.pexels.com/photos/7634557/pexels-photo-7634557.jpeg");
  width: 100%;
  height: 103vh;
  background-size: cover;
  background-position: center;
}

.img::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.center {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

.center .title {
  color: #101010;
  font-size: 55px;
  font-weight: 600;
}

.center .sub_title {
  color: #040404fa;
  font-size: 52px;
  font-weight: 600;
}

.center .btns {
  margin-top: 20px;
}

.center .btns button {
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.center .btns button:first-child {
  color: #000000;
  background: none;
}

.btns button:first-child:hover {
  background: #d69b9b; 
  color: rgb(8, 8, 8);
}

.center .btns button:last-child {
  background: #d69b9b;
  color: black;
}
footer {
  background-color: #333;
  color: #fff; 
   padding: 20px; 
  text-align: center;
  position: relative;
  width: 1500px;
  top: 280px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  width: 900px;
  
}

.dropdown {
  display: inline-block;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #181818;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 98px;
  font-size: xx-small;
  /* z-index: 1; */
}



.dropdown-logout1 {
    display: inline-block;
  }
  
  .dropbtn-logout1 {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content-logout1 {
    display: none;
    position: absolute;
    background-color: #181818;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 127px;
    font-size: xx-small;
    /* z-index: 1; */
  }
  
  
  
  .dropdown-content-logout1 a {
    color: rgb(252, 234, 234);
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    
  }
  
  .dropdown-content-logout1 a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown-logout1:hover .dropdown-content-logout1 {
    display: block;
  }
  