*{
    box-sizing: border-box;
    padding: 0;

}
.course-page-en
{
    width: 100%;
    margin: 0;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/301920/pexels-photo-301920.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Replace 'background.jpg' with your actual image file */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; 
    background-repeat: no-repeat;
    position: absolute;
}

.ev-en {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    
  }
  
  .event__card-en {
    justify-items: space-around;
    background: rgba(220, 48, 48, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(50px);
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-right: 50px;
    max-width: 400px;
    /* text-align: left; */
    flex-direction: row;
    transition: all 0.3s ease; 
  }
  
  .event__card-en:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
  }
  
  .event__card-en button {
    margin-top: 10px;
    background-color: #fff;
    color: #dc3030;
    border: 2px solid #dc3030;
    padding: 10px;
    cursor: pointer;
    
    transition: all 0.3 ease; 
  }
  
  .event__card-en button:hover {
    background-color: #dc3030;
    color: #fff;
  }
  .event__section-en{
    grid-template-columns: auto auto auto;
    display: grid;
    height: auto;

    padding-left: 60px;
    padding-top: 10px;

  }